* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url("../assets/images/background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

header {
    background-color: rgba(0, 0, 0, 0.560);
    width: 320px;
    height: 370px;
    border-radius: 33px;
    border: 2px #4646468c solid;
    display: flex;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(2px);
}

.title,
.nav_a,
.subtitle {
    color: var(--text-color);
    font-size: 20px;
}

.title {
    margin-top: 43px;
    font-size: 32px;
    font-family: "Orbitron-E", sans-serif;
    background: #78BBFF;
    background: linear-gradient(to right, #78BBFF 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav_a {
    text-decoration: none;
    list-style: none;
}


li {
    margin-top: 19px;
    width: 206px;
    height: 57px;
    background: rgba(0, 0, 0, 0.507);
    border: 1px #4646468c solid;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat-M", sans-serif;
    cursor: pointer;
}

li:hover {
    filter: brightness(1.5);
    background: rgba(9, 9, 9, 0.507);
}

li:active {
    filter: brightness(2);
}

li:focus {
    background-color: aqua;
}

a {
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 206px;
    height: 57px;
}

.subtitle {
    position: absolute;
    bottom: 25px;
    font-size: 8px;
    color: rgba(255, 255, 255, 0.416);
    font-family: "Montserrat-L", sans-serif;
}

.lang {
    position: absolute;
    top: 15px;
    background-color: black;
    width: 85px;
    height: 40px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.560);
    border: 1px #4646468c solid;
    right: 15px;
    color: white;
    font-family: "Montserrat-M", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove {
    display: none;
}

.close {
    color: white;
    position: absolute;
    top: 45px;
    left: 25px;
    font-size: 30px;
    font-family: "Montserrat-M", sans-serif;
    cursor: pointer;
}

.text_about_me {
    color: white;
    margin-top: 15px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 15px;
    text-align: center;
    font-family: "Montserrat-M", sans-serif;
    font-size: 15px;
    overflow: hidden;
}